.lang {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.lang:hover {
  opacity: 0.8;
}

.category-active {
  font-weight: bold;
  text-decoration: underline;
}

.map {
  height: 300px;
}

.product-active {
  border: 1px solid green;
}

.product-inactive {
  border: 1px solid red;
}